<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/tomorrow-night.min.css">
    <link rel="stylesheet" href="/static/css/rspbw.css">
  </head>
  <body>
    <main>
      <div id="title-bar">
        <h1>{{ title }}</h1>
        <h2>Placeholder</h2>
      </div>
    </main>

    <pre id="code-display"><code class="language-{{ file_ext }}">{{ file_content }}</code></pre>

    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/languages/{{ file_ext }}.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
