<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/rspbw.css">
  </head>
  <body>
    <main>
      <div id="title-bar">
        <h1>{{ title }}</h1>
        <h2>{{ slogan }}</h2>
      </div>
      <p>{{ description }}</p>

      <h2>Abstract</h2>
      <p>To create new paste from local file:
        <div class="code-block">
          <pre>curl -F "c=@FileName.ext" '{{ url }}'</pre>
        </div>
      </p>

      <p>To create new paste from command:
        <div class="code-block">
          <pre>cmd | curl -F "c=@-" '{{ url }}'</pre>
        </div>
      </p>

      <p>To delete paste:
        <div class="code-block">
          <pre>curl -i -X DELETE -H "Key: $PASTE_KEY" '{{ url }}/$PASTE_ID'</pre>
        </div>
      </p>

      <h2>Use form</h2>
      <p>
        If you're not feeling like CLI today, use the <i>Modern</i> form <a href="/f" alt='Form'>here</a>.
      </p>

      <h2>Use syntax highlight</h2>
      <p>In order to have syntax highlighting, append <code>/${language_name}</code> at the end of the paste name. </p>

      <h2>More examples with cURL</h2>
      <h3>Create paste with expire time</h3>
      <div class="code-block">
        <pre>curl -F "c=@code.rs" -H "Expire-After: 60" "{{ url }}"</pre>
      </div>
      <p>
        In minutes.
      </p>

      <h3>Update paste</h3>
       <div class="code-block">
         <pre>curl -i -X PUT "{{ url }}/$PASTE_ID" -H "Key: $PASTE_KEY" -H "Update-Content: y" -F "c=@new_code.rs"</pre>
      </div>
      <p> This operation will replace the original content of the paste.</p>

      <h3>Renew paste</h3>
      <div class="code-block">
        <pre>curl -i -X PUT "{{ url }}/$PASTE_ID" -H "Key: $PASTE_KEY" -H "Expire-Time: 60"</pre>
      </div>
      <p>This would re-set expire time of the paste to the given minutes from now.</p>

      <footer>
        This pastebin service is powered by <a href="https://github.com/szclsya/rspb">rspb</a>.
      </footer>
    </main>
  </body>
</html>
